/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/* Default Light Mode */
:root {
  --primary-color: #f5f5dc;
  --primary-color-2: #f5f5dc; 
  --primary-color-3: #f5f5dc; 
  --background-color: #f5f5dc;
  --secondary-color: #5c4033;
  --secondary-color-2: #a57749;
  --button-background: #7b3f00;
  --button-text-hover:  #a57749;
  --button-border: #7b3f00 solid;
  --button-border-2: rgb(255, 255, 255) 0.1rem solid;
  --container-border: #7b3f00;
}

/* Dark Mode */
[theme="dark"] {
  --primary-color: rgb(0, 0, 0);
  --primary-color-2: rgb(0, 0, 0);
  --primary-color-3: rgb(0, 0, 0);
  --background-color: rgb(0, 0, 0);
  --secondary-color: white;
  --secondary-color-2: rgb(200, 197, 197);
  --button-background: #00ff51;
  --button-text-hover:  rgb(200, 197, 197);
  --button-border: #00ff51 solid;
  --button-border-2: rgb(0, 0, 0) 0.1rem solid;
  --container-border: #00ff51;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

h3 {
  color: var(--secondary-color);
}

h4 {
  color: var(--background-color);
}

h5{
  font-size: 8rem;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 1rem;
  color: var(--secondary-color-2);
}

body {
  font-family: "Poppins";
  background-color: var(--background-color);
}

html {
  scroll-behavior: smooth;
}

p {
  color: var(--secondary-color-2);
}



.logo span{
  color: var(--container-border);
}


.logo{
  font-size: 3rem;
  color: var(--secondary-color);
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s ease;
}
.logo:hover{
  transform: scale(1.1);
}

span{
  color: var(--container-border);
}


/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
  align-items: center;
}

nav {
  justify-content: space-around;
  height: 17vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

nav li:last-child {
  width: max-content;
  display: flex;
  margin: auto;
  padding: 10px;
}

a {
  color: var(--secondary-color);
  border-bottom: none;
  transition: 0.3s ease;
}

a:hover {
  border-bottom: 3px solid var(--container-border);
  color: var(--container-border);
}

nav a:hover {
  border-bottom: 3px solid var(--container-border);
  color: var(--container-border);
}

.logo {
  font-size: 2rem;
  color: var(--secondary-color);
}

.logo:hover {
  cursor: default;
}


/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: var(--secondary-color);
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--primary-color);
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
  z-index: 1000;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: var(--secondary-color);
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* SECTIONS */

section {
  position: relative;
  padding-top: 4vh; 
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
  
}

.img img{
  width: 32vw;
  border-radius: 50%;
  box-shadow: 0 0 25px var(--container-border);
  cursor: pointer;
  transition: 0.4s ease-in-out
}

.img img:hover {
  box-shadow: 0 0 25px var(--container-border),
              0 0 50px var(--container-border);

 
}



.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}
/*

.wrapper{
  display: flex;
}

.wrapper .static-txt{
  color: var(--secondary-color-2);
}

.wrapper .dynamic-txts {
  margin-left: 15px;
  line-height: 90px;
  height: 90px;
  overflow: hidden;
}

.dynamic-txts li { 
  list-style: none;
  color: var(--container-border);
  top: 0;
  position: relative;
  animation: slide 10s steps(4) infinte;
}

@keyframes slide {
  100% {
    top: -360px;
  }
}

.dynamic-txts li{
  position: relative;
}

.dynamic-txts li::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--background-color);
  border-left: 2px solid var(--container-border);
  animation: typing 3s steps(17) infinite;
}

@keyframes typing {
  40%,
  60%{
    left: calc(100% + 30px);
  }
  100%{
    left: 0;
  }
}*/

/*
.text-animation{ 
  font-size: 34px;
  font-weight: 600; 
  min-width: 280px;
}
.text-animation span{
  position: relative;
}
.text-animation span::before{
  content: 'CS Student';
  color: var(--container-border);
  animation: words 20s infinite;
}    
.text-animation span::after{ 
  content: "";
  background-color: var(--background-color);
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  border-left: 3px solid var(--background-color);
  right: -8px;
  animation: cursor 0.6s infinite, typing 20s steps
  (17) infinite;
}   
@keyframes cursor{
  to{
      border-left: 2px solid var(--container-border);
  }
}
@keyframes words{
  0%,
  33%{ 
      content:'Teacher Assistant';
  }    
  34%,
  66%{
      content:'Career Prep Lead';
  }
  67%,
  100%{
      content: 'Aspiring SWE';
  }
}
@keyframes typing{
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 8px);
  }
}
*/
.title {
  color: var(--secondary-color);
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1rem;
}

.social-icons a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background: transparent;
  border: 0.2rem solid var(--container-border);
  font-size: 2rem;
  border-radius: 50%;
  color: var(--container-border);
  margin: 3rem 1.5rem 0;
  transition: 0.3s ease;
}
.social-icons a:hover{
  color: var(--secondary-color);
  transform: scale(1.2)translateY(-5px);
  background-color: var(--container-border);
  box-shadow: 0 0 25px var(--container-border);
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: var(--button-border);
  color: var(--secondary-color-2);
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: var(--button-background);
  color: var(--primary-color);
}

.btn-color-1:hover {
  background: var(--secondary-color);
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: var(--button-border);
  background: var(--secondary-color);
}

.btn-container {
  gap: 1rem;
}

/* ABOUT SECTION */

#about {
  position: relative;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}


.about-pic {
  border-radius: 2rem;
 
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

.details-container {
  padding: 0.25rem;
  flex: 1;
  background: var(--primary-color-2);
  border-radius: 2rem;
  border: var(--button-border);
  border-color: var(--container-border);
  text-align: center;
}

.details-container-2 {
  padding: 0.5rem;
  flex: 1;
  background: var(--primary-color-2);
  border-radius: 2rem;
  border: var(--button-border);
  border-color: var(--container-border);
  text-align: center;
  margin-bottom: -1rem;
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.section__pic-container {
  
  height: 400px;
  width: 400px;
  margin: auto 0;
}

/* EXPERIENCE SECTION */

#experience {
  position: relative;
}

.experience-sub-title {
  color: var(--secondary-color);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1.5rem;
  margin-top: 1.5rem;
  justify-content: center;
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
}

/* PROJECTS SECTION */


#projects {
  position: relative;
 
}

.color-container {
  border-color: var(--container-border);
  background: var(--primary-color-2);
  position: relative;
  cursor: pointer;
}

.project-img {
  border-radius: 2rem;
  width: 90%;
  height: 90%;
  transition: opacity 0.3s ease;
}

.project-title {
  margin: 1rem;
  color: var(--secondary-color);
}

.project-btn {
  color: var(--secondary-color);
  border-color: var(--container-border);
}


.popup {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  background: var(--container-border);
  color: var(--background-color);
  border-radius: 2rem;
  padding: 1rem;
  box-sizing: border-box;
  text-align: center;
  transition: opacity 0.3s ease;
  opacity: 0;
  z-index: 10;
}

.details-container-2:hover .popup {
  display: flex;
  opacity: 1;
}

.details-container-2:hover .project-img {
  opacity: 0.2;
}



/* CONTACT */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: var(--button-border);
  border-color: var(--container-border);
  background: var(--background-color);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}

/* FOOTER SECTION */

footer {
  height: 26vh;
  margin: 0 1rem;
}

footer p {
  text-align: center;
}
